/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";
@import '~highlight.js/styles/dracula.css';

body {
  background: #212121;
  margin: 0;
}

.mat-card {
  font-family: 'Comfortaa', cursive;
}

a {
  color: #00B0D8;
}
